.site-hero {
    height: 80vh;
    background-image: url("../assets/pictures/pexels-nicolas-veithen-1719669.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.hero-text {
    color: aliceblue;
}