li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

#Contents{
    border: midnightblue;
}

#nav{
   float: left;
   width: 15%;
   height: 2500px;

   
}
#main{
    margin-left: 60px;
    border-left: 15px;
}