ul{
    display: flex;
    padding: 10px;
    justify-content:center ;
    flex-direction:column
}

#navbar{
    background-color:wheat;
    width: 150px;
    height: 400px;
    border: 1px ;
    padding: 10px;
    float: left;
    margin: 30px;
    font-family:Arial, Helvetica, sans-serif;
    color: dimgray;
}

#shiba1{
    float:right;
}

#shiba2{
    float: right;
    
}

#shiba3{
    float: right;
}
h3{
    display: fixed;
    margin-left: 450px;
}

p{
    margin-top: 100px;
    margin-left: 230px;
    width: 550px;
}


li{
    padding: 10px;
    list-style: none;
    color: dimgray;
    
}

a{
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color:beige;

}

.dropdown-menu{
    position: absolute;
    opacity: 0;
    background-color: darksalmon;

}




.dropdown:hover .dropdown-menu{
    opacity: 1;
    transition: .5s;
    
}

.dropdown{
    position: relative;
    display: block;
    
}

h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-color: antiquewhite;
    
}


@media (max-width: 768px){

    nav{
        font-size: 30px;
    }


}
        



